<br>
 <div class="jumbotron">
   <h1>Blocitoff</h1>
   <p>Blocitoff is a self destructing to-do list</p>
   <p>
     <%= link_to "Sign In", new_session_path %> or
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
   </p>
 </div>
 
 <div class="row">
   <div class="col-md-4">
     <h2>Will keep you focused on the things that matter</h2>
     <p>This is the only to-do list that you'll ever need</p>
   </div>
   <div class="col-md-4">
     <h2>Super efficient</h2>
     <p>You'll be more succesful if you use blocitoff</p>
   </div>
   <div class="col-md-4">
     <h2>Makes you better looking</h2>
     <p>Studies have shown that using blocitoff will make you better looking</p>
   </div>
 </div>
